<!--<h1>Public::Homes#top</h1>-->

<div class="main-container" >
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
</div>

<h3>新着商品</h3>

<!--画像４枚-->
<!--商品名-->
<!--金額-->

<!--%<= link_to "全ての商品を見る", index_public_item_path %><!--index画面に遷移-->
