<!--<h1>Admin::Homes#top</h1>-->







  <%# @page.each do |page| %>
  <%# end %>

<!--ページネーション-->
<!--https://getbootstrap.jp/→ドキュメント→検索-->
<!--<div class="d-flex justify-content-center"><%#= paginate @page %></div>-->

