<p id="notice"><%= notice %></p>

<!--作成途中-->
  <div class="container"><!-- px-5 px-sm-0-->
    <div class="row">
      <div class="col-md-3">
<!---->
  <table border="1"><!-- class="mx-auto"-->
    <thead>
        <tr height="50"><!-- bgcolor="lightgray"-->
            <th width="200">ジャンル検索</th>
        </tr>
    </thead>
  
    <tbody>
        <% @genres.each do |genre| %>
        <tr height="50">
          <td width="150">
              <%= link_to item_path(item.id) do %>
              <%= genre.name %>
              <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
<!---->